<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YT Saver</title>
</head>
<body style="align-items: center; text-align: center; height: fit-content; border: 3px solid green;">
    <h2>YT SAVER</h2>
    <b><p style="color: coral;">Save your favorite YouTube videos for free!!</p></b>
    <form method="post" action="">
        {% csrf_token %}
        <!-- for fetching the video -->
        <input type="text" name="given_url" value="{{url}}" placeholder="enter url..">
        <button type="submit" name="fetch-vid" value="fetch-vid">Proceed</button>

        <br>
        {% if vidTitle %}

            <h3>{{ vidAuthor }} - {{vidTitle}}</h3>
            <img src="{{vidThumbnail}}"/>
            <br>
            {% if stream %}
                {% for q in stream %}
                    {% if q.type == 'video' %}
                        {{ q.resolution }}
                        <button type="submit" name="download-vid" value="{{ q.resolution }}">Download Video</button>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <br>

            <button type="submit" name="download-audio" value="true">Download Audio</button>

        {% endif %}

        <br><br>
    </form>
</body>